.row{
    width: 75%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col{
    height: 400px;
    width: 200px;
    border: blanchedalmond;
}

.col1{
    background-color: rgb(235, 13, 13);
}.col2{
    background-color: rgb(23, 206, 69);
}.col3{
    background-color: rgba(44, 18, 190, 0.836);
}.col4{
    background-color: rgb(221, 224, 15);
}