div{
    width: 75%;
    background-color: cornsilk;
    box-shadow: 10px 10px;
}
p{
    font-size: xx-large;
    font-style: oblique;
}
h1{
    font-size: xx-large;CIiPm4-n1P4CFQAAAAAdAAAAABAE
}
body{
    background-image: url("./images/huh.jpeg");
    background-size: cover;
}